<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycf.edittracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/crew_editor_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProjectsPage" />
        <activity android:name=".NewProject" />
        <activity android:name=".ProjectPage" />
        <activity android:name=".EditProjectPage" />
        <activity android:name=".NewScenePage" />
        <activity android:name=".ScenePage" />
        <activity android:name=".EditScenePage"></activity>
    </application>

</manifest>